.socialSignin {
    margin: .8rem auto 0;
}

.links{
    display: block;
    width: 100%;
    margin: 50 rem auto 0;
    padding: 1rem;

    a{
        color: black;
        font-weight: 700;
    }
}
